.likeview {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(211, 211, 211, 0.555);
    z-index: 100;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.likeview__container {
    height: 600px;
    background-color: white;
    width: 500px;
    padding: 20px;
    border-radius: 10px;
}

.likeveiw__header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #322653;
    padding-bottom: 10px;
}

.likeview__header_text {
    color: #322653;
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0;
    user-select: none;
}


.likeview__header_icon {
    font-size: 2rem !important;
    margin: 0;

}

.likeview__header_opt:hover {
    transform: scale(1.2);
}