.likeviewcard {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.likeviewcard__1 {
    display: flex;
    justify-content: start;
    align-items: center;
    text-decoration: none !important;
    color: black;
}

.likeviewcard__1>span {
    margin-left: 10px;
    font-size: 18px;
    font-weight: 600;
}