.navbar {
    background-color: white;
    padding: 10px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 99;
}

.navbar__logo {
    height: 35px;
    transition: all 300ms ease;

}

.navbar__logo:hover {
    transform: scale(1.1);
}



.navbar__search {
    display: flex;
    align-items: center;
    background-color: #F5F5F5;
    padding: 15px 50px;
    border-radius: 40px;
    width: 30%;
    box-shadow: 1px 1px 5px rgba(128, 128, 128, 0.616);
    transition: all 300ms ease;
}

.navbar__search:hover {
    transform: scale(1.1);
    box-shadow: 3px 6px 8px rgba(128, 128, 128, 0.6);
}

.navbar__search>input {
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 18px;
    font-weight: 500;
    width: 100%;

}

.navbar__function {
    display: flex;
    align-items: center;
}

.navbar__function__icon {
    cursor: pointer;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: #F5F5F5;
    box-shadow: 1px 1px 5px rgba(128, 128, 128, 0.616);
    transition: all 300ms ease;

}

.navbar__function__icon:hover {
    transform: scale(1.2);
    box-shadow: 2px 6px 6px rgba(128, 128, 128, 0.616);
}

.navbar__function__icon:not(:last-child) {
    margin-right: 10px;
}